img {
    align-self: baseline;
}
h2 {
    font-size: 44px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.navbar {
    position: absolute;
    width: 100%;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:visited {
    color:white;
}    
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .8)
}
li .price__nav-item {
    text-align: right;
}

.navbar-collapse__call {
    color: white;
}


.intro-sect {
    background-image: url(../img/bground.jpg);
    background-size: cover;
    padding: 120px 10px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.intro-sect__main-headline {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 48px;
}

.intro-sect__main-subheading {
    color: white;
    text-align: center;
}

.navbar-collapse__call__text-quest {
    font-size: 14px;
    margin-bottom: 2px;
}

.navbar-collapse__call__tell {
    font-size: 20px;
}

.intro-sect__intro-list {
    margin-top: 80px;
}

.intro-sect__intro-list h4, .intro-sect__intro-list li {
    color: white;
}
.intro-sect__intro-list ul {
    list-style: none;
    padding: 0;
}
.intro-sect__intro-list li {
    margin: 20px 0;
}
.intro-sect__intro-list li:before {
    content: "";
    background-image: url(../img/check-white\ copy\ 4.png);
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

.block-form__heading-form {
    background-color: white;
    width: 100%;
    max-width: 320px;
    /* max-height: 280px; */
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #2f93d8;
    margin-top: 60px;
    padding: 20px;
}

.block-form__heading-link {
    margin-bottom: 15px;
    height: 50px;
    width: 100%;
    max-width: 320px;
}
.block-form__heading-btn {
    width: 100%;
    max-width: 320px;
    color: white;
    padding: 5px 30px 5px 20px;
    border: #2f93d8;
    background-color: #2f93d8;
    border-radius: 5px;
    font-size: 18px;
}   
.coop-box {
    padding: 100px 0;
}

.coop-box__icon-block {
    text-align: center;
    position: relative;
    margin-top: 70px;
}
.coop-box__icon-block::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 20px;
    background-image: url(../img/arrow.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 40px;
    right: 0;
}

.coop-box__icon-img {
    border: 2px solid #2f93d8;
    border-radius: 50%;
    display: inline-block;
    padding: 21px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.coop-box__icon-block--last-block::after {
    display: none;
} 

.company {
    margin: 0 64px;
}
.company__flex-container-1, .company__flex-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.stroy {
    margin-bottom: 90px;
}

.company__brend {
    min-width: 120px;
    min-height: 120px;
    margin: 20px;
    background-size: cover;
}
.company__brend--brend-1 {
    background-image: url(../img/Tekta-logo.png);
    background-repeat: no-repeat;
}
.company__brend--brend-2 {
    background-image: url(../img/su22-logo.png);
    background-repeat: no-repeat;
}
.company__brend--brend-3 {
    background-image: url(../img/PIK-logo.png);
    background-repeat: no-repeat;
}
.company__brend--brend-4 {
    background-image: url(../img/Morton-logo.png);
    background-repeat: no-repeat;
}
.company__brend--brend-5 {
    background-image: url(../img/Miel-logo.png);
    background-repeat: no-repeat;
}
.company__brend--brend-6 {
    background-image: url(../img/LeaderGroup1-logo.png);
    background-repeat: no-repeat;
}
.company__brend--brend-7 {
    background-image: url(../img/Kortros-logo.png);
    background-repeat: no-repeat;
}
.company__brend--brend-8 {
    background-image: url(../img/Donstroi-logo.png);
    background-repeat: no-repeat;
}
.company__brend--brend-9 {
    background-image: url(../img/A101-logo.png);
    background-repeat: no-repeat;
}
.company__brend--brend-10 {
    background-image: url(../img/YIT-logo.png);
    background-repeat: no-repeat;
}

.price {
    padding: 90px 0;
}

.price__rate-block-container {
    display: flex;
    align-items: center;
}

.price__rate-block-container div {
    min-width: 230px;
}

.price__rate-block {
    padding: 50px 25px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
    width: 270px;
    box-sizing: border-box;
    margin: 0 40px;
}
.price__rate-block--rate-heading, .price__rate-block--rate-price {
    text-align: center;
    font-size: 36px;
}
.price__rate-block--rate-heading {
    color: #575757;
}
.price__rate-block--rate-price {
    color: #2f93d8;
}
.price__rate-block .btn-primary {
    width: 100%;
    background-color: #2f93d8;
    padding: 20px;
}
.price__rate-block--rate-list {
    list-style: none;
    padding: 0;
}
.price__rate-block--centr .price__rate-block--rate-list {
    margin-bottom: 60px;
}
.price__rate-block--centr {
    margin-top: -30px;
}
.price .tab-content {
    margin-top: 60px;
}
.price .nav-pills {
    justify-content: center;
}
.info-block {
    background-color: #2f93d8;
    width: 100%;
    max-width: 1150px;
    margin: auto;
    height: 605px;
    padding: 100px 50px 0 50px; 
    max-width: 1050px;
    margin: auto;
}

.info-block p {
    color: white;
    font-size: 60px;
    text-transform: uppercase;
}

.info-block p span {
    font-size: 36px;
}

.form-footer {
    padding: 32px 25px 32px 25px;
    background-color: white;
    
}

.form-footer p {
    font-size: 16px;
    color: #2f93d8;
    text-align: center;
}

.form-footer input {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}
.footer-btn {
    background-color: #2f93d8;
    padding: 20px 35px;
    width: 100%;
    color: white;
    font-size: 18px;
}
.footer-link {
    font-size: 15px;
    color: #2f93d8;
    text-align: center;
    overflow-wrap: break-word;
    margin-top: 20px;
}

.info-footer {
    width: 100%;
    max-width: 1150px;
    padding: 0 50px;
    margin: auto;
}

.info-of {
    text-align: right;
}
.city {
    font-size: 16px;
    margin: 2px 0;
}

.info-block__flex {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .navbar-collaps {
        background-color: white !important;
    }
}

@media (max-width: 992px) {
    .rate-block {
        margin: 0 10px;
    }

    .info-block {
        text-align: center;  
        padding: 50px;
        height: auto;        
    }

    .info-block p {
        font-size: 45px;
    }

    .heading-block-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block-form {
        margin: auto;
    }

    .block-form {
        max-width: 400px;
    }

    .heading-link {
        font-size: 18px;
    }

    .icon-block::after {
        right: -10px;
    }

    .footer-btn {
        max-height: 60px;
        padding-top: 10px;
    }

    .form-footer input {
        height: 40px;
        font-size: 25px;
    }

    .info-footer {
        word-wrap: break-word;
    }
}

@media (max-width: 766px) {
    .navbar-light .navbar-toggler-icon {
        background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }

    .icon-block::after {
        right: -20px;
    }
}
@media (max-width: 576px) {
    .intro-sect h1, h2 {
        font-size: 36px;
    }

    .icon-block::after {
        display: none;
    }

    .info-of {
        text-align: left;
    }
}

@media (max-width: 870px) {
    .info-block__flex {
        display: flex;
        flex-direction: column;
    }

    .rate-block-container {
        flex-direction: column;
    }

    .rate-block {
        width: 100%;
        margin: 20px 0
    }

    .info-block {
        height: auto;
        width: 100%;
        padding: 50px;
        text-align: center;
    }

    .footer-p {
        width: 100%;
        font-size: 45px;
    }

    .rate-list {
        text-align: center;
    }
}

@media (max-width: 520px) {
    .footer-p {
        font-size: 20px !important;
    }

    .footer-p span {
        font-size: 16px !important;
    }

    .info-block p {
        font-size: 20px;
    } 
    
    .footer-btn {
        font-size: 12px;
        padding: 0 15px 0 15px;
    }

    .form-footer input {
        outline: 0;
        margin: 1px;
    }
    
    h2 {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }

    .brend {
        min-width: 120px;
        min-height: 120px;
        margin: 20px;
        background-size: cover;
    }

    .form-footer input {
        font-size: 16px;
        height: 25px;
        margin-bottom: 5px;
    }

    .footer-btn {
        height: 30px;
        font-size: 18px;
    }

}